html {
  
}

body {
  background: #EEE url(../images/debut_dark.png);
}

#container {
	margin: 0 auto;
	padding: 20px 0;
	background: #FFF;
	max-width: 72.25em;
}

#header, #navigation {
	margin-bottom: 20px;
}

#slogan {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding: .5em 2em 0 2em;
}


.panel {
	background: url(../images/p5.png);
	border: none;
}

.panel.callout {
	background: $panel-bg-alt;
	border-color: $panel-border-color-alt;
	box-shadow: $panel-box-shadow-alt;
}

.panel.callout a {
	color: $panel-font-color-alt;
}

#logo-copy {
	position: absolute;
	top: 60px;
	left: -20px;
}

ul, ol {
	list-style-position: inside;
}

a.th {
 max-width:100% 
}

.section-container.horizontal-nav section .title a,
.section-container.horizontal-nav .section .title a {
	text-transform: uppercase;
	letter-spacing: emCalc(.5px);
	color: #fafafa;
}

.section-container.horizontal-nav section, .section-container.horizontal-nav .section {
	border: 1px solid #116cb2;
}

.section-container.horizontal-nav,
.section-container.horizontal-nav section .title,
.section-container.horizontal-nav .section .title {
	border: 1px solid #116cb2;
background: rgb(17,108,178); /* Old browsers */
background: -moz-linear-gradient(top, rgba(17,108,178,1) 0%, rgba(10,111,178,1) 29%, rgba(8,81,145,1) 69%, rgba(6,60,107,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,108,178,1)), color-stop(29%,rgba(10,111,178,1)), color-stop(69%,rgba(8,81,145,1)), color-stop(100%,rgba(6,60,107,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(17,108,178,1) 0%,rgba(10,111,178,1) 29%,rgba(8,81,145,1) 69%,rgba(6,60,107,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(17,108,178,1) 0%,rgba(10,111,178,1) 29%,rgba(8,81,145,1) 69%,rgba(6,60,107,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(17,108,178,1) 0%,rgba(10,111,178,1) 29%,rgba(8,81,145,1) 69%,rgba(6,60,107,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(17,108,178,1) 0%,rgba(10,111,178,1) 29%,rgba(8,81,145,1) 69%,rgba(6,60,107,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116cb2', endColorstr='#063c6b',GradientType=0 ); /* IE6-9 */
}

.section-container.horizontal-nav section .title a {
	font-weight: 700;
}

.section-container.vertical-nav .title,
.section-container.accordion .title {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}