html {
  
}

body {
  background: #000 url('../images/bg-flag.jpg') no-repeat;
}

#container {
	margin: 0 auto;
	padding: 20px 0;
	background: #FFF;
	max-width: 72.25em;
}

#slogan {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding: .5em 2em 0 2em;
}

#header {
	margin-bottom: 20px;
}


.panel {
	background: url(http://www.aamga.org/sites/all/themes/acquia_prosper/images/bg-lines.jpg);
	border: none;
}

.panel.callout {
	background: $panel-bg-alt;
	border-color: $panel-border-color-alt;
	box-shadow: $panel-box-shadow-alt;
}

.panel.callout a {
	color: $panel-font-color-alt;
}

#logo-copy {
	position: absolute;
	top: 140px;
	font-size: emCalc(22px);
	background: #333;
	opacity: .9;
	padding: 10px;
	border-radius: 0 4px 4px 0;
	color: #fafafa;
}

ul, ol {
	list-style-position: inside;
}

a.th {
 max-width:100% 
}

.section-container section .title a, .section-container .section .title a {
	text-transform: uppercase;
}

.section-container.horizontal-nav section .title, .section-container.horizontal-nav .section .title {
border: none;
background: #fff;
}

.section-container.horizontal-nav section .title a {
	font-size: emCalc(16px);
	font-weight: 700;
}


.section-container.horizontal-nav section .title:hover,
.section-container.horizontal-nav .section .title:hover {
 background: #efefef;
}

.section-container.horizontal-nav {

background: #fff;
border: none;
}